# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment Variables
.env

# Logs
logs/
*.log

# Temporary Files
tmp/
temp/

# IDE or Editor specific files
.vscode/
.idea/
.DS_Store

# Build directories
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Other files to ignore
*.tgz
*.zip
*.tar.gz
